<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product detail</title>
</head>
<body>
    <h1>Product detail</h1>
    <a href="{{ url_for('admin.product_create') }}">Create</a>
    <a href="{{ url_for('admin.product_edit', id=product.id) }}">Edit</a>
    <a href="{{ url_for('admin.product_delete', id=product.id) }}">Delete</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
        </tr>
    </table>
    
</body>
</html>