<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product update</title>
</head>
<body>
    <h1>Product update</h1>
    <form action="{{ url_for('product_edit', id=product.id) }}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_token" value="{{ csrf_token }}">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="productName" value="{{ product.productName }}"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" name="productPrice" value="{{ product.productPrice }}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>

</body>
</html>