<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu items</title>
</head>
<body>
    Content of menu item
    <br/>
    <br/>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Menu item name">
        <input type="text" name="price" placeholder="Menu item price">
        <input type="text" name="ingredients" placeholder="Menu item ingredients">
        <input type="file" name="image" placeholder="Menu item image">
        <input type="submit" value="Create">
    </form>

</body>
</html>