<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if message %}
        <p>{{ message }}</p>
        <br/>
    {% endif %}
    
    <form action="" method="post">
        <input type="text" name="name" placeholder="Menu adı">
        <input type="submit" value="Yarat">
    </form>
    <h3>Menüler</h3>

    <ul>
    {% for menu in menus %}

            <li>{{ menu.name }}     <a href="/menu/{{menu.id}}/menu_item"> All items</a>  >  
                <a href="/menu/{{menu.id}}/menu_item/new" style="color: green;"> New</a> > 
                <a style="color: red;" href="/menu/{{menu.id}}/delete">Delete</a>
            </li>

    {% endfor %}
    </ul>
</body>
</html>