{% extends 'base.html' %}

{% block main%}


<a href="{{ url_for('admin.admin_menu') }}" class="btn btn-primary">Back to all menus</a>
<a href="{{ url_for('admin.admin_add_food', id=menu.id) }}" class="btn btn-primary text-right">Add food</a>

<div class="table-responsive">


    <table class="table">
        <tr>
            <th>Food</th>
            <th>Price</th>
            <th>Ingredients</th>
            <th>Images</th>

            <th>Actions</th>
        </tr>
        {% for food in foods %}
        <tr>
            <td>{{ food.title }}</td>
            <td>{{ food.price }}</td>
            <td>{{ food.ingredients }}</td>
            <td> <img src="/uploads/{{ food.image_url }}" alt="{{ food.title }}" style="width: 100px;height: 100px;"></td>
            <td>
                <a href="{{ url_for('admin.admin_edit_food', food_id=food.id,id=menu.id) }}" class="btn btn-secondary">Edit</a>
                <a href="{{ url_for('admin.admin_delete_food', food_id=food.id, id=menu.id) }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock%}